# ENVIRONMENT VARIABLES

# HOW TO USE
# Copy this file and name the copy ".env", then set the paths and values


########## DASK SETTINGS ##########
# Ideally, DASK_NUM_WORKERS should be equal to the number of physical cores - 1 on the server
# Number of Dask workers:
DASK_NUM_WORKERS=6
# Maximum RAM memory per worker:
# DASK_NUM_WORKERS * DASK_MEMORY_LIMIT < max available RAM
DASK_MEMORY_LIMIT=3GB



########## ADDITIONNAL IDS ##########
# CSV file with NUM_ID
# With this CSV, you can add extra fields to the regions
CODES_ID_PATH=data/codes_id.csv



########## OCEANS ##########
##### NATURAL EARTH 10m DATASET #####
# Input files:
NE_GEO_MARINE_POLYS_PATH=data/ne_10m/ne_10m_geography_marine_polys/ne_10m_geography_marine_polys.shp
# From https://www.naturalearthdata.com/downloads/
# Natural Earth. Free vector and raster map data @ naturalearthdata.com.
# License: CC0 1.0 Universal (public domain)
NE_GEO_OCEAN_PATH=data/ne_10m/ne_10m_ocean/ne_10m_ocean.shp
# From https://www.naturalearthdata.com/downloads/
# Natural Earth. Free vector and raster map data @ naturalearthdata.com.
# License: CC0 1.0 Universal (public domain)
# Ouput file:
OCEANS_FROM_NE_PATH=data/oceans_from_ne_10m/oceans_from_ne_10m.shp



########## COUNTRIES ##########
##### NATURAL EARTH 10m DATASET #####
# Input file:
NE_ADMIN_COUNTRIES_PATH=data/ne_10m/ne_10m_admin_0_countries/ne_10m_admin_0_countries.shp
# From https://www.naturalearthdata.com/downloads/
# Natural Earth. Free vector and raster map data @ naturalearthdata.com.
# License: CC0 1.0 Universal (public domain)
# Ouput file:
COUNTRIES_FROM_NE_PATH=data/countries_from_ne_10m/countries_from_ne_10m.shp



########## COUNTRIES OCEANS SHAPE FILE ##########
##### NATURAL EARTH 10m DATASETS #####
# This is the shapefile produced by `merge_shp_ne_10m.ipynb`, it will be the input to generate the mask
NE_COUNTRIES_OCEANS_PATH=data/ne_10m_oceans_countries/ne_10m_oceans_countries.shp



########## MASK INPUT SHAPE FILE ##########
# ⚠️ DON'T FORGET TO ALSO UPDATE MASK_FILE_PATH
# Natural Earth datasets:
MASK_SHAPE_FILE_PATH=data/ne_10m_oceans_countries/ne_10m_oceans_countries.shp
# Eurostat, GOaS and SeaVox datasets:
#MASK_SHAPE_FILE_PATH=eurostat_goas_seavox_mask/data/eurostat_goas_seavox_oceans_countries/eurostat_goas_seavox_oceans_countries.shp
# World Bank dataset:
#MASK_SHAPE_FILE_PATH=world_bank_mask/data/countries_from_wb/countries_from_wb.shp


########## MASK SETTINGS ##########
# Raster resolution and bounds. This matches the RECON dataset specifications
# Mask resolution when creating it from shape file (degrees)
MASK_RESOLUTION=0.5
# Bounds (degrees)
MASK_MIN_LON=-0.25
MASK_MIN_LAT=-89.75
MASK_MAX_LON=359.75
MASK_MAX_LAT=90.25

# Normalise mask (ensure sum of all regions for each grid cell equal to 1)
# To use this, your shapefile use to create the mask must cover the whole mask bounds defined above ("true" or "false")
# ⚠️ Use only with complete mask (no empty spaces = countries + oceans)
NORMALIZE_MASK=true

# Regions mask (countries and oceans):
# ⚠️ DON'T FORGET TO ALSO UPDATE MASK_SHAPE_FILE_PATH
# Natural Earth mask:
MASK_FILE_PATH=data/mask_countries_oceans_ne_-0.25_90.25_0.5.nc
# Eurostat, GOaS and SeaVox mask:
#MASK_FILE_PATH=eurostat_goas_seavox_mask/data/mask_countries_oceans_eurostat_goas_seavox_-0.25_90.25_0.5.nc
# World Bank mask:
#MASK_FILE_PATH=world_bank_mask/data/mask_countries_world_bank_-0.25_90.25_0.5.nc
