# ENVIRONMENT VARIABLES

# HOW TO USE
# Copy this file and name the copy ".env", then set the paths and values

########## ADDITIONNAL IDS ##########
# CSV file with NUM_ID
# With this CSV, you can add extra fields to the regions
CODES_ID_PATH=../data/codes_id.csv

########## COUNTRIES ##########
##### WORLD BANK DATASET #####
# Input file:
WB_ADMIN_COUNTRIES_PATH="data/World Bank Official Boundaries - Admin 0/WB_GAD_ADM0.shp"
# from https://datacatalogfiles.worldbank.org/ddh-published/0038272/5/DR0095371/World%20Bank%20Official%20Boundaries%20(Shapefiles)/World%20Bank%20Official%20Boundaries%20-%20Admin%200.zip
# Year: 2025, File format: SHP, Geometry type: Polygons (RG), Coordinate reference system: EPGS: 4326
# License: Creative Commons Attribution 4.0

# Output file:
COUNTRIES_FROM_WB_PATH=data/countries_from_wb/countries_from_wb.shp