# ENVIRONMENT VARIABLES

# HOW TO USE
# Copy this file and name the copy ".env", then set the paths and values


########## ADDITIONNAL IDS ##########
# CSV file with NUM_ID
# With this CSV, you can add extra fields to the regions
CODES_ID_PATH=../data/codes_id.csv



########## OCEANS ##########
##### GOAS #####
# Input files:
GOAS_OCEANS_PATH=data/GOaS_v1_20211214/goas_v01.shp
# From https://www.marineregions.org/downloads.php, DOI: https://doi.org/10.14284/542
# Global Oceans and Seas v01 (2021-12-14, 88 MB), Shapefile
# License: Creative Commons Attribution 4.0 International License.
##### SEAVOX #####
SEAVOX_SEAS_PATH=data/SeaVoX_sea_areas_polygons_v19/SeaVoX_sea_areas_polygons_v19.shp
# From https://www.marineregions.org/downloads.php, DOI: https://doi.org/10.14284/590
# The SeaVoX Salt and Fresh Water Body Gazetteer v19 (2023, 68 MB), Shapefile
# License: Creative Commons Attribution 4.0 International License.
# Output file:
OCEANS_FROM_GOAS_SEAVOX_PATH=data/oceans_from_GOaS_SeaVoX/oceans_from_GOaS_SeaVoX.shp



########## COUNTRIES ##########
##### EUROSTAT DATASET #####
# Input file:
EUROSTAT_ADMIN_COUNTRIES_PATH=data/CNTR_RG_01M_2020_4326/CNTR_RG_01M_2020_4326.shp
# from https://ec.europa.eu/eurostat/web/gisco/geodata/administrative-units/countries
# Year: 2020, File format: SHP, Geometry type: Polygons (RG), Scale: 01M, Coordinate reference system: EPGS: 4326
# License: Eurostat dataset-specific non-commercial license © EuroGeographics for the administrative boundaries
# Output file:
COUNTRIES_FROM_EUROSTAT_PATH=data/countries_from_eurostat/countries_from_eurostat.shp


########## COUNTRIES OCEANS SHAPE FILE ##########
##### EUROSTAT GOAS SEAVOX DATASETS #####
# This is the shapefile produced by `merge_and_format_shapefiles.ipynb`, it will be the input to generate the
EUROSTAT_GOAS_SEAVOX_COUNTRIES_OCEANS_PATH=data/eurostat_goas_seavox_oceans_countries/eurostat_goas_seavox_oceans_countries.shp
